# ** Environment ******************************************************************
# The targeted environment. This affects which parameters are available. Refer to
# each section for any environment differences.
#
# Possible values:
# - 'production'
# - 'staging'
# - 'development'
# - 'monkeytest' (services will throw `unavailable` some fraction of the time)
#
# For the most part, code will look for either `ENVIRONMENT === 'development'` or
# `ENVIRONMENT !== 'development'`. That is, 'staging' and 'production' (unless
# otherwise stated) are treated identically.
#
# 'NODE_ENV' isn't use as it isn't recommended with Cloud Functions
# REF: https://stackoverflow.com/questions/43139959/setting-node-env-for-firebase-function
NEXT_PUBLIC_ENVIRONMENT=development

# Disable support for fast refresh on packages created with CRA v4+ and enforce
# webpack to use hot module reloading to avoid issues when importing code from a
# sibling lerna package, ie: importing services from @ureeka-notebook/web-service
FAST_REFRESH=false

# ** Common ***********************************************************************
# == Logging ======================================================================
# The log level ("TRACE", "DEBUG", "INFO", "WARN", "ERROR", "SILENT") above which
# the client will log to the server.
# If not specified then "DEBUG" is used.
NEXT_PUBLIC_LOG_LEVEL=INFO

# == 3rd Party ====================================================================
# -- Firebase ---------------------------------------------------------------------
# Used for local-development of the SSR-based web-app. This are not configured (and
# in fact they *must* be removed) for non-local (deployed) environments.
FIREBASE_CLIENT_EMAIL=__fillin__
FIREBASE_PRIVATE_KEY=__fillin__

# Taken directly from the Firebase Project Settings
# SEE: https://firebase.google.com/docs/auth/web/google-signin#customizing-the-redirect-domain-for-google-sign-in
NEXT_PUBLIC_FIREBASE_API_KEY=__fillin__
NEXT_PUBLIC_FIREBASE_APP_ID=__fillin__
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=__fillin__
NEXT_PUBLIC_FIREBASE_DATABASE_URL=__fillin__
NEXT_PUBLIC_FIREBASE_FUNCTION_REGION=__fillin__
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=__fillin__
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=__fillin__
NEXT_PUBLIC_FIREBASE_PROJECT_ID=__fillin__
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=__fillin__

# ** Client (Web-App) *************************************************************
# PUBLIC_URL: used both on the client (during React compilation) and on the server
#             server (to create links that point to the client (e.g. in emails))
# APPLICATION_URL: URL to Application website (in most cases this will match PUBLIC_URL)
PUBLIC_URL=__fillin__
NEXT_PUBLIC_APPLICATION_URL=__fillin__

# == Notebook =====================================================================
# -- Versions ---------------------------------------------------------------------
# The maximum number of Versions (equivalent to ProseMirror Steps) that are written
# in a single Firestore transaction. This collapses multiple Versions thereby
# improving Editor performance. Cannot be less than one.
NEXT_PUBLIC_NOTEBOOK_VERSION_BATCH_SIZE=5

# == Session ======================================================================
# The amount of time that must elapse (in seconds):
# - before the Session rewrites its timestamp (which is used to detect for implicit
#   logout, lost connections, hung clients, dead clients, etc). By default the
#   value is 5 minutes (5min * 60sec). The value should be greater than the idle
#   timeout and must be less than 1h.
# - with no activity (mouse move,  etc) for the user to be considered 'idle'. By
#   default the value is 3 minutes (3min * 60sec).
NEXT_PUBLIC_SESSION_UPDATE_INTERVAL=300
NEXT_PUBLIC_ACTIVITY_IDLE_TIMEOUT=180

# ** Server ***********************************************************************
# == Export =======================================================================
# -- BigQuery ---------------------------------------------------------------------
# The dataset into which the Firestore exports are imported. If left blank then no
# data is imported.
# SEE: FIRESTORE_EXPORT_*
BIGQUERY_IMPORT_DATASET=

# -- Firestore --------------------------------------------------------------------
# Firestore export:
# - bucket: The Google Cloud Storage (GCS) Bucket into which the Firestore export
#   is stored. If unconfigured (i.e. if left blank) then no export is performed.
#   While this may be any allowed bucket, the preferred naming convention is:
#     <project-id>-firestore-export
#   If configured then this bucket *must* exist -- it is *not* created by the
#   service -- and it must have the appropriate permissions.
# - collections: a comma separated array of quoted strings that are the collection
#   names to be exported. An empty array -may- be used but the resulting export is
#   incompatible with import to BigQuery.
FIRESTORE_EXPORT_BUCKET=
FIRESTORE_EXPORT_COLLECTIONS=

# == Notebook =====================================================================
# -- Checkpoint -------------------------------------------------------------------
# a Checkpoint is created every 'n' Versions that are written to Firestore. This
# attempts to make a balance between the number of Checkpoints that are created for
# a Notebook and the average number of Versions that a Client needs to read.
# Cannot be less than one.
NOTEBOOK_CHECKPOINT_N_VERSIONS=100

# == Session ======================================================================
# The epsilon value (in seconds) used when checking for expired Sessions. This value
# is added to NEXT_PUBLIC_SESSION_UPDATE_INTERVAL to determine if a Session has
# expired. The default value is 60 seconds.
# NOTE: due to latency, etc. it's possible that expired Sessions exist for longer
#       than this time. This is simply the minimum time.
SESSION_EXPIRATION_EPSILON=60
